BasedOnStyle: LLVM

UseTab: Always
IndentWidth: 4
TabWidth: 4

ColumnLimit: 80

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never

LambdaBodyIndentation: OuterScope

BinPackArguments: false
BinPackParameters: false

PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakOpenParenthesis: 0

AlignAfterOpenBracket: BlockIndent

ContinuationIndentWidth: 4

PointerAlignment: Left

SpaceBeforeParens: ControlStatements

SortIncludes: false

AccessModifierOffset: -4
IndentAccessModifiers: false